<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frontend_tubes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainlogo"
        android:label="UAJT.TIX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Login_Register.user_login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Register.eo_login_Activity"/>
        <activity android:name=".Login_Register.register_account_Activity"/>
        <activity android:name=".User.user_confirm_event_Activity"/>
        <activity android:name=".User.user_dashboard_Activity"/>
        <activity android:name=".User.user_confirm_payment_Activity"/>
        <activity android:name=".User.user_confirm_payment_Acitivity_2"/>
        <activity android:name=".User.user_confirm_transaksi_Activity"/>
        <activity android:name=".User.user_daftar_transaksi_Activity"/>
        <activity android:name=".User.user_edit_payment_Activity"/>
        <activity android:name=".User.user_edit_profile_Activity"/>
        <activity android:name=".User.user_event_description_Activity"/>
        <activity android:name=".User.user_payment_detail_Activity"/>
        <activity android:name=".User.user_profile_Activity"/>
        <activity android:name=".User.user_register_event_Activity"/>
        <activity android:name=".User.user_tiket_saya_Activity"/>
        <activity android:name=".EO.eo_edit_event_Activity"/>
        <activity android:name=".EO.eo_event_profile_Activity"/>
        <activity android:name=".EO.eo_daftar_peserta_Activity"/>
        <activity android:name=".EO.eo_daftar_confirm_Activity"/>
        <activity android:name=".admin.admin_daftar_event_Activity"/>
        <activity android:name=".admin.admin_daftar_user_Activity"/>
        <activity android:name=".admin.admin_confirm_event_Activity"/>
        <activity android:name=".admin.admin_confirm_event_Activity_2"/>
    </application>

</manifest>